@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);

body {
	background: #eee;
	font: 12px 'Lato';
}
.content {/* remove */
	background: url('../img/page_bg.png') no-repeat #f9f8f8;
	border-radius: 5px;
	box-shadow: 0 0 10px #979797;
	margin: 15px auto 30px;
	padding: 18px;
	width: 914px;
}
/*.logo, .logo img {
	display: block;
}*/
/*.logo {
	float: left;
	margin: 18px 0 0 8px;
	width: 181px;
}*/
.menu {
	float: right;
	text-transform: uppercase;
}
.menu li {
	display: inline;
}
.menu li a {
	color: #979797;
}
.menu li a:hover {
	color: #121212;
}
.content .menu {/* remove */
	font-size: 14px;
	margin: 41px 7px 0 0;
}
.content .menu li {/* remove */
	padding-left: 23px;
}
.slogan {
	color: #424242;
	float: right;
	font: italic bold 14px 'Lato';
	line-height: 26px;
	margin: 38px 7px 34px 0;
	text-align: right;
    width: 600px;
}
.slogan .main {
	color: #de4f05;
	font: normal 900 36px 'Lato';
	margin-bottom: 14px;
}
.menuPanes {
	background: url('../img/menu_panes.png');
	clear: both;
	height: 135px;
	width: 914px;
}
.menuPanes li {
	float: left;
}
.menuPanes li a {
	display: block;
    height: 135px;
    width: 308px;
}
.menuPanes li + li a {
	width: 300px;
}
.menuPanes li + li + li a {
	width: 306px;
}
.panes {
	margin: 90px 7px 0;
	overflow: hidden;
}
.panes li, .panes img {
	float: left;
}
.panes li {
	margin-bottom: 20px;
}
.panes h3, .panes p {
	margin-left: 120px;
}
.panes h3 {
	color: #424242;
	font: 900 21px 'Lato';
	margin-top: 16px;
}
.panes p {
	color: #5e5e5e;
	line-height: 1;
	margin-top: 12px;
}
.panes .clear {
	clear: left;
}
.w300, .w600 {
	margin-right: 45px;
}
.w300 {
	width: 255px;
}
.w600 {
	width: 555px;
}
/* ---------------------------------- footer ---------------------------------*/
.footer {
	background: #2e2e2e;
	box-shadow: 0 30px 20px -20px #000 inset;
	height: 180px;
}
.container {
	margin: 0 auto;
	padding: 29px 25px;
	overflow: hidden;
	width: 900px;
}
.footer .menu {
	color: #979797;
	float: none;
}
.footer .menu a:hover {
	color: #fff;
}
.footer .menu li {
	padding: 0 5px;
}
.footer .menu li:first-child {
	padding-left: 0;
}
.socials, .socials li {
	float: left;
}
.socials {
	margin-top: 53px;
}
.socials li {
	padding-right: 22px;
}
.socials .github {
	background: url('../img/github.png') 0 41px;
	display: block;
	height: 41px;
	width: 125px;
}
.socials .twitter {
	background: url('../img/twitter.png') 0 41px;
	display: block;
	height: 41px;
	width: 148px;
}
.socials .github:hover, .socials .twitter:hover {
	background-position: 0 0;
}
.contacts {
	color: #979797;
	float: right;
	margin-top: 38px;
}
.contacts p {
	padding-bottom: 5px;
	text-align: right;
}
.contacts span, .contacts a {
	color: #fff;
}
/* --------------------------------- /footer ---------------------------------*/

/* ----------------------------- New structure ------------------------------ */
#root {
	background: url('../img/page_bg.png') no-repeat #f9f8f8;
	border-radius: 5px;
	box-shadow: 0 0 10px #979797;
	margin: 15px auto 30px;
	padding: 18px;
	width: 914px;
}
#header {
	/*background: #999900;*/
}
/*#header .menu {
	font-size: 14px;
	margin: 41px 7px 0 0;
}
#header .menu li {
	padding-left: 23px;
}*/
#sidebar {
	background: #cc00cc;
	float: left;
	width: 200px;
}
#content {
	background: #0000ff;
	float: left;
	width: 714px;
}
#footer {
	background: #ff6666;
	clear: both;
}